img, object, embed, video {
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

.sidenav, a, button {
  min-width: 48px;
  min-height: 48px;
}

.uppercase {
  text-transform: uppercase;
  text-decoration: underline;
}
